<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Obligatory Blog</h1>
    <p class="lead">This is a simple blog application created from <%= link_to "The Complete Ruby on Rails Developer Course", "https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/" %> on Udemy.</p>
    <hr class="my-4">
    <p>The obligatory Rails starter-project: a blog. I liked that it built from scratch with no scaffolding for a deeper understanding. Good practice with key concepts like migrations, CRUD and REST, resources built from scratch, testing, authentication systems, front-end styling with Bootstrap, and asset pipeline. </p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
